.App {
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #1F2B30;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Modal {
  position: absolute;
  border-radius: 5px;
  background-color: #1A4452;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  outline: 'none';

}

.Overlay {
  border-radius: 5px;
  position: fixed;
  width: 70vw;
  height: 22vh;
  align-self: center;
  top: 50vmin;
  left: 15vw;
  right: 0;
  bottom: 0;
  background-color: #1A4452;
  outline: 'none';

}

.Overlay-no-close-button {
  border-radius: 5px;
  position: fixed;
  width: 70vw;
  height: 17vh;
  align-self: center;
  top: 50vmin;
  left: 15vw;
  right: 0;
  bottom: 0;
  background-color: #1A4452;
  outline: 'none';

}

.ReactModalPortal {
  display: flex;
  justify-content: center;
  outline: 'none';
}

.Modal-buttons {
  display: flex;
  justify-content: space-around;
}

.Modal-exit-button {
  margin-left: auto;
  margin-bottom: auto;
  width: 35px;
  height: 35px;
}

.Modal-container {
  margin: 15px;
  text-align: center;
  outline: 'none';
}

